body {
            margin: 0;
            padding: 0;
            background-color: #e9e7e7;
}

ul, li {
            list-style: none;
        }

        .header {
            padding: 16px;
            margin-bottom: 16px;
            background-color: #eee;
            border-bottom: 1px solid #e9e7e7;
            box-shadow: 4px 4px 16px #ddd;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .inner-main-container{
            width: fit-content;
        }

        .inner-main-container form {
            width: 50%;
        }

        .inner-main-container .form-control {
            display: flex;
            flex-direction: row;
            width: fit-content;
            align-items: center;
            gap: 0;
            contain: content;
        }

        .inner-main-container label, 
        .inner-main-container input, 
        .inner-main-container button {
            margin: 0;
            border: none;
            outline: none;
        }

        .inner-main-container input {
            padding: 7px;
            border-top: 1px solid rgb(226, 226, 226);
            border-bottom: 1px solid rgb(226, 226, 226);
            background-color: rgba(226, 226, 226, 0.75);
            text-align: center;
            font-size: 16px;
            box-sizing: border-box;
        }

        .inner-main-container label {
            padding: 8px;
            background-color: rgb(161, 161, 161);
            color: white;
            border-radius: 23px 0 0 23px;
        }

        .inner-main-container button {
            background-color: rgb(210, 124, 26);
            color: white;
            font-weight: bold;
            padding: 9.25px 18px 9.25px 12px;
            border-radius: 0 23px 23px 0;
        }

        .inner-main-container button:focus {
            border: none;
            outline: none;
        }

        nav ul {
            display: flex;
            gap: 15px;
        }

        nav ul:last-child {
            gap: 0;
        }

        nav ul li button {
            width: 70px;
            border: none;
            outline: none;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;
            background-color: #eee;
        }

        .form {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
        }

        .form .dynamic-title {
            margin: 0;
            text-align: center;
        }

        .form-control {
            width: 623px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0 auto;
        }

        #note-body {
            width: 100%;
            border-radius: 10px;
            height: 327px;
            resize: none;
            padding: 8px;
            font-size: 16px;
            background-color: #eee;
            box-sizing: border-box;
        }

        .note-title {
             font-size: 16px;
        }

        .note-title, .button {
            text-align: center;
            width: 100%;
            padding: 8px;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .button {
            border: none;
            outline: none;
            cursor: pointer;
        }

        #note-body, .note-title, .button:focus {
            border: none;
            outline: none;
        }

        footer {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 8px 32px;
            text-align: right;
            color: #777777;
        }

        .main-title {
            margin: 0;
            align-items:center;
            position: relative;
            width: fit-content;
        }

        .sub-title {
            padding-left: 16px;
        }

        .home-wrapper, .delete-wrapper {
            width: 80%;
            margin: 0 auto;
            border-radius: 10px;
            background-color: white;
            padding: 20px;
        }

        .home-wrapper ul, 
        .delete-wrapper ul,
        .edit-sidebar ul {
            padding: 0;
        }

        .home-wrapper li, 
        .delete-wrapper li,
        .edit-sidebar li {
            padding: 16px;
            padding-left: 0;
            border-bottom: 1px solid #77777747;
        }

        .edit-sidebar li {
            position: relative;
            height: 45px;
            margin-right: 8px;
            margin-block: 4px;
            box-sizing: border-box;
        }

        .home-wrapper li:last-child, 
        .delete-wrapper li:last-child,
        .edit-sidebar li:last-child {
            border-bottom: none;
        }

        .home-wrapper a, 
        .delete-wrapper a,
        .edit-sidebar .edit-anchor {
            text-decoration: none;
            padding: 16px;
        }

        .home-wrapper a {
            cursor: pointer;
        }

        .edit-sidebar .edit-anchor {
            position: absolute;
            font-size: small;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1250;
            padding: 7px 0;
            height: 100%;
            margin: 0;
            cursor: pointer;
            box-sizing: border-box;
        }

        /* Delete wrapper part */

        .delete-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 20px 0 0!important;
        }

        .delete-wrapper .sub-title {
            text-align: center;
            color: rgb(139, 22, 22);
        }

.delete-btn {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: rgb(139, 22, 22);
        }

        .delete-btn:focus {
            border: none;
            outline: none;
        }

        .delete-result {
            position: absolute;
            top: 95px;
            left: 2.5%;
            right: 2.5%;
            padding: 25vh 25%;
            width: 95%;
            margin: 0 auto;
            height: 78vh;
            background-color: rgba(22, 22, 22, 0.45);
            border-radius: 10px;
            z-index: 1200;
            box-sizing: border-box;
        }

        .inner-delete-result {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 4px;
            border-radius: 8px;
            color: #e42121;
            cursor: pointer;
            font-family: cursive;
            box-sizing: border-box;
        }

        .inner-delete-result h2 {
            margin-bottom: 0;
        }

        .result {
            border-bottom: 1px solid #e9e7e7;
            text-align: center;
            padding: 28px 20px;
            box-sizing: border-box;
        }

        .new-edit-wrapper {
            display: flex;
            gap: 15px;
            padding: 0 30px;
            height: 80vh;
            box-sizing: border-box;
        }

        .edit-sidebar, .edit-sidebar-2 {
            width: 30%;
            height: 100%;
        }

        .edit-sidebar {
            background-color: white;
            padding: 20px 0 20px 20px;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .sidebar-scroll {
            height: 430px;
            overflow-y: auto;
        }

        /* Delete ends here */

        /* Visibility rule */
        .hide {
            display: none;
        }
        /* end of visibility */

        .scroll {
            height: 345px;
            overflow-y: auto;
        }

        .sidebar-scroll {
            overflow-y: auto;
        }

        .badge {
            position: absolute;
            top: -10px;
            left: 60px;
            right: -22px;
            background-color: #cecece;
            border: 2px solid white;
            width: fit-content;
            height: 15px;
            font-size: 20px;
            padding: 3px 8px 8px;
            border-radius: 20px;
            color: #484444;
        }

        .sidebar-badge {
            position: absolute;
            right: -106px;
            background-color: #cecece;
            border: 2px solid white;
            width: fit-content;
            height: 15px;
            font-size: 20px;
            padding: 3px 8px 8px;
            border-radius: 20px;
            color: #484444;
        }

.pop-up-hint {
    font-size: 10px;
    font-family: cursive;
    display: none;
    contain: content;
    width: 100px;
    height: fit-content;
    position: absolute;
    border-radius: 3%;
    background-color: white;
    padding: 4px;
    box-shadow: 1px 1px 8px #b4b3b3;
    bottom: 10%;
    left: 20%;
    z-index: 1300;
    box-sizing: border-box;
}

.class:hover .pop-up-hint {
    display: block;
}

.print-button {
    cursor: pointer;
    background-color: #dad5d5;
    color: #363434;
    width: 65px;
    height: fit-content;
    border-radius: 23px;
    padding: 8px;
}

.print-button, 
.print-button:focus {
    border: none;
    outline: none;
}

.d-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

 .single-note-body {
        overflow-y: auto;
        max-height: 420px;
        font-size: 16px;
    }

.print-button:hover {
    background-color: #363434;
    color: white;
}

.tools-bar {
    align-items: center;
    justify-content: right;
    height: 23px;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
}

.tool-label {
    width: fit-content;
    font-size: 12px;
    font-family: cursive;
}

.tools-bar .tool {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 23px;
    background-color: white;
    border-radius: 3%;
    box-shadow: 1px 1px 8px #b4b3b3;
    box-sizing: border-box;
}

.tool:hover .pop-up-hint {
    display: block;
    top: 20px;
    right: 64px;
}

.text-center-tool {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px;
    contain: content;
    box-sizing: border-box;
}

.text-center-tool span {
    border: none;
    background-color: #777777;
    height: 1px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 616px) {
    nav ul {
        -webkit-padding-start: 0!important;
        -webkit-padding-end: 0!important;
        justify-content: space-between;
    }

    .new-edit-wrapper {
            gap: 8px;
            padding: 0 8px;
        }

        .edit-sidebar {
    padding: 8px;
    border-radius: 10px;
}

.sidebar-badge {
    display: none;
}

    .edit-sidebar-2 {
        display: none;
    }

    .form-control {
    width: 100%;
}

footer {
    position: relative;
    text-align: center;
}

.new-edit-wrapper {
            height: fit-content;
            margin-bottom: 30px;
}
}


@media print {

    body {
        background-color: white;
    }

    .header {
        display: none;
    }

    .print-button {
        display: none;
    }

    .single-note-wrapper {
        display: block;
        margin-top: 5%;
    }

    .single-note-body {
        text-align: justify;
        overflow-y: none;
        height: auto;
    }

    .tools-bar {
        display: none;
    }

    footer {
        font-size: 10px;
    }

}
